@keyframes dinosaur-jump {
  0%   { transform: translateY(0); }
  
  50%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}
@keyframes cactus {
  0%   { transform: translateX(0); }
  /* 50%  { transform: translateY(-100px); } */
  100% { transform: translateX(-600px); }
}

.jumping {
  animation: dinosaur-jump 0.5s ease;
}
.moving {
  animation: cactus infinite 0.9s linear ;
}